/*body {*/
/*    background-color: white;*/
/*}*/

.wd-board{
    border-width: 1px;
    padding-left: 15px;
    /*padding-bottom: 20px;*/
    /*margin-left: 50px;*/
    flex-wrap: wrap;
    /*display: flex;*/
    color: rgb(47, 51, 54);
}
.wd-overflow-auto{
    overflow: auto;
}

.wd-board-color{
    color: rgb(47, 51, 54);
}

.wd-border-solid {
    border-style: solid;
}

.wd-board-fat{
    border-width: 20px;
}

.wd-rounded-corners-all-around {
    border-radius: 50px;
}

.wd-fg-white{
    color: white;
}

.wd-margin-top-5px-left-16px{
    margin: 5px;
}

.wd-margin-right-16px-top-10px-bottom-10px{
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.wd-bg-darkgray{
    background-color: darkgray;
}
.wd-fg-darkgray{
    color: darkgray;
}

.wd-bg-333{
    background-color: #333333;
}

.wd-margin-60px{
    margin: 60px;
}

.wd-margin-top-15px{
    margin: 15px 0px 0px 0px;
}
.wd-margin-top-25px{
    margin: 25px 0px 0px 0px;
}
.wd-margin-top-10px{
    margin: 10px 0px 0px 0px;
}
.wd-margin-bottom-10px{
    margin-bottom: 10px;
}

.wd-search-container {
    display: flex;
    margin-top: 15px;
    /*background-color: #333;*/
    background-color: white;
    border-radius: 30px;
    padding: 10px;
    width: 90%;
}

.wd-search-container input{
    width: 90%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding-left: 10px;
}

.wd-search-input {
    width: 90%;
    border: none;
    background-color: transparent;
    color: white;
    font-size: 16px;
    padding-left: 100px;
}

.wd-float-left {
    float: left;
}

.wd-float-right {
    float: right;
}

.wd-gear-position{
    /*margin-top: 12px;*/
    margin-right: 12px;
}
.wd-pos-relative{
    position: relative;
}

.wd-clear-float{
    clear: both;
}

.wd-rgb-29-161-242{
    color: rgb(29, 161, 242);
    /*padding: 16px;*/
}
.wd-setting-icon{
    /*height: 48px;*/
    /*width: 48px;*/
    text-decoration: none;
    color: rgb(29, 161, 242);
    margin-right: 16px;
    margin-top: 12px;
}

.wd-rgb-110-118-125{
    color: rgb(110, 118, 125);
}

.wd-hyperlink-format-for-you{
    font-size: 15px;
    text-decoration: none;
    padding: 16px;
}

.wd-link-non-selected {
    /*background-color: transparent;*/
    font-size: 15px;
    font-weight: bold;
    font-family: bold;
    color: rgb(110, 118, 125);
    text-decoration: none;
    padding: 16px 60px 16px 60px;
    /*width: 13.6666%;*/
}
.wd-links-selected{
    font-weight: bold;
    font-family: bold;
    font-size: 15px;
    padding: 16px;
    color: rgb(29,161,242);
    border-bottom-color: rgb(29,161,242);
    border-bottom: 3px solid;
    text-decoration: none;
}
.wd-display-flex{
    display: flex;
}

.wd-border-below{
    border-bottom: 2px solid;
    color: rgb(29, 161, 242);
    /*margin: 16px;*/
    padding-top: 15px;
}

.wd-front-size-13{
    font-size:13px;
}

.wd-image-round{
    border-radius: 20px;
    margin-right: 0px;
    margin-left: 5px;
}

.wd-dp-inline{
    display: inline;
}

.wd-margin-left{
    margin-left: 15px;
}

.wd-padding-top-10px{
    padding-top: 10px;
}

.wd-margin-top-15px-left-5px{
    margin: 15px 0px 0px 5px;
}

.wd-margin-top-15px-left-10px{
    margin: 15px 0px 0px 10px;
}

.wd-margin-top-px-left-5px-bottom-10px{
    margin: 5px 0px 10px 5px;
}

.wd-center {
    display: flex;
    /*align-items: center;*/
}
.wd-post-with-img{
    width: 100px;
    height: 100px;
    margin: 16px;
    float: right;
    border-radius: 15px;
    display: flex;
}
.wd-margin-5px{
    margin: 5px;
}

.wd-right-side-bar-img{
    width: 50px;
    height: 50px;
}
.wd-img-circle{
    border-radius: 50%;
}
.wd-form-control::-webkit-input-placeholder {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath d='M11.5 10.5c-0.825 0-1.5-0.675-1.5-1.5s0.675-1.5 1.5-1.5c0.825 0 1.5 0.675 1.5 1.5s-0.675 1.5-1.5 1.5zM7 9A2 2 0 1 1 7 5a2 2 0 0 1 0 4z' fill='%23757575'/%3E%3C/svg%3E");
    background-position: left 8px center;
    background-repeat: no-repeat;
    padding-left: 25px;
}

.wd-tuiter-color{
    color: #1DA1F2
}
.wd-gold-color{
    color: gold;
}

.wd-bg-tuiter-color{
    background-color: #1DA1F2
}
.wd-rounded-15 {
    border-radius: 15%;
}
.wd-no-underline {
    text-decoration: none;
}
.wd-font-weight-bold{
    font-weight: bold;
}
.list-group.wd-border-round{
    /*border-bottom: solid 1px black;*/
    /*border-bottom-left-radius: 50%;*/
    /*border-bottom-right-radius: 50%;*/
    border-radius: 25px;
}
.wd-clear-mosaic {
    image-rendering: auto;
}
.wd-border-bottom-tuiter-color {
    border-bottom: 2px solid #61dafb;
    /*border-bottom-color: #1DA1F2;*/
}
.wd-justify-content{
    justify-content: space-between;
}
.wd-border-bottom-1DA1F2 {
    border-bottom: 1px solid #1DA1F2;
}
.border-width-4px {
    border-width: 4px;
    /*border-bottom-style: solid;*/
}
.wd-padding-bottom-0px{
    padding-bottom: 0px;
}
.wd-padding-left-0-right-0{
    padding-left: 0px;
    padding-right: 0px;
}